APP_NAME=VaksinKu
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=sqlite
DB_DATABASE=database/vaksinku.sqlite

CACHE_DRIVER=database
SESSION_DRIVER=database
QUEUE_CONNECTION=database

MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=1025
MAIL_FROM_ADDRESS="noreply@vaksinku.local"
MAIL_FROM_NAME="${APP_NAME}"

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# API Keys
GOOGLE_MAPS_API_KEY=
SATUSEHAT_BASE_URL=https://api-satusehat-stg.dto.kemkes.go.id
SATUSEHAT_AUTH_URL=https://api-satusehat-stg.dto.kemkes.go.id/oauth2/v1
SATUSEHAT_CLIENT_ID=
SATUSEHAT_CLIENT_SECRET=
SATUSEHAT_ORG_ID=

WA_GATEWAY=fonnte
FONNTE_TOKEN=

DOMPDF_ENABLE_PHP=false
QR_CODE_SIZE=300

VITE_APP_NAME="${APP_NAME}"
