.claude
.vscode
.agent
node_modules
vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.fleet
/.phpunit.cache
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.DS_Store
*.sqlite
*.sqlite3
*.db
/database/*.sqlite
/database/*.sqlite3
/database/*.db
